events{}

http{
    server{
        listen 443;
        server_name rmarzouk.42.fr
        return 200 "nginx container is running now";
        
        # location / {
            # proxy_pass https//:wordpress
        # }
    }
}